<!DOCTYPE html>
<html>
    <head>
        <title>Hotel Management Website</title>
    </head>
    <body>
        <div>
            <p><a href="/">Home</a>
            <a href="/about">About</a>
            <a href="/aminities">Aminities</a>
            <a href="/rooms">Rooms</a>
            <a href="/contact">Contact</a>
            <a href="/bookings/new">New Booking</a>
            <a href="/bookings">Manage Booking</a>
            <a href="/login">Login</a>
            <a href="/signup">SignUp</a>
            <a href="/logout">Logout</a>
        </div>
        