<%- include('partials/header') %>
    <div>
        <form action="/signup" method="POST">
            <p><input type="text" name="username" placeholder="username" required></p>
            <p><input type="password" name="password" placeholder="password" required></p>
            <p><button type="submit">SignUp</button></p>
        </form>
    </div>
<%- include('partials/footer') %>